<html>

<head>
  <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
  

</head>

<body style="background-color: rgba(149, 212, 248, 0.484);">
  <nav class="navbar navbar-light bg-info justify-content-between ">
    
    <div class="container">
      <a href="/" class="navbar-brand text-light">Feedback Exercise</a>

      <ul class="nav navbar-nav flex-row float-right">

        {% if session['user_id'] %}
        <li class="nav-item">
          <a href="/logout" style="color:antiquewhite;">Logout</a>
        </li>
        {% else %}

        <li class="nav-item">
          <a href="/login" style="color:antiquewhite; margin-right: 8px;">Login</a>
        </li>

        <li class="nav-item">
          <a href="/register" style="color:antiquewhite; margin-left: 8px;">Sign up</a>
        </li>

        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container" style="margin-top: 2em">
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{category}}" style="color: black">{{ msg }}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}
  </div>

</body>

</html>